<nav class="admin-nav">
  <ul>
    <li><a href="edit-users">Edit Users</a></li>
    <li><a href="edit-destinations">Edit Destinations</a></li>
    <li><a href="edit-orders">Edit Orders</a></li>
    <li><a href="edit-flights">Edit Flights</a></li>
  </ul>
</nav>