<nav class="navigation">
  <ul>
  </ul>
  <script>

    const ALL = ["login", "signup"];
    const AUTHENTICATED = ["logout", "account", "flights", "orders"];
    const ADMIN = AUTHENTICATED.concat(["edit-users", "edit-destinations",
      "edit-orders", "edit-flights"]);
    const ROUTES = {all: ALL, authenticated: AUTHENTICATED, admin: ADMIN};

    let state = "all";
    let token = window.sessionStorage.token;

    if(token) {
      state = "authenticated";
      let base64Url = token.split('.')[1];
      let base64 = base64Url.replace('-', '+').replace('_', '/');
      let user = JSON.parse(window.atob(base64));
      if(user.type == "ADMIN") {
        state = 'admin';
      }
    }

    let ul = document.getElementsByTagName('ul')[0];

    ROUTES[state].forEach(route => {
      let li = document.createElement("li");
      let a = document.createElement("a");
      if(route != "logout") {
        a.href = "/" + route;
      } else {
        a.id = 'logout';
      }
      a.innerHTML = route.toUpperCase();
      li.appendChild(a);
      ul.appendChild(li);
    });

    let logout = document.getElementById('logout');
    if(logout) {
      logout.onclick = function() {
        window.sessionStorage.removeItem('token');
        window.location.href = "/";
      };
    }

  </script>
</nav>