<nav class="navigation">
  <ul>
    <% if (!isAuthorized) {%>
      <% if (page != "login") { %>
        <li><a href="/login">Log In</a></li>
      <% } %>
      <% if (page != "signup") { %>
        <li><a href="/signup">Sign Up</a></li>
      <% } %>
    <% } else { %>
      <li><a href="/logout">Log Out</a></li>
      <%if (page != "account") { %>
        <li><a href="/account">Account</a></li>
      <% } %>
    <% } %>
    <%if (page != "flights") { %>
      <li><a href="/flights">Flights</a></li>
    <% } %>
    <%if (page != "orders") { %>
      <li><a href="/orders">Orders</a></li>
    <% } %>
    
    <%if (page != "edit-users") { %>
      <li><a href="/edit-users">Edit Users</a></li>
    <% } %>
    <%if (page != "edit-destinations") { %>
      <li><a href="/edit-destinations">Edit Destinations</a></li>
    <% } %>
    <%if (page != "edit-orders") { %>
      <li><a href="/edit-orders">Edit Orders</a></li>
    <% } %>
    <%if (page != "edit-flights") { %>
      <li><a href="/edit-flights">Edit Flights</a></li>
    <% } %>
  </ul>
</nav>