<nav class="flights">
  <ul>
    <li>Some flight 1</li>
    <li>Some flight 2</li>
    <li>Some flight 3</li>
    <li>Some flight 4</li>
    <li>Some flight 5</li>
    <li>Some flight 6</li>
  </ul>
</nav>