<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/account.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">
    <% include ../partials/nav %>

    <main id="account">
      <div class="card user-details">
        <div class="image">
          <img v-bind:src="user.image" alt="No Image" />
        </div>
        <div class="info">
          <span><b>First Name:</b> {{ user.first_name }}</span>
          <span><b>Second Name:</b> {{ user.second_name }}</span>
          <span><b>Email:</b> {{ user.email }}</span>
          <span><b>Phone:</b> {{ user.phone }}</span>
          <span id="bio"><b>Bio:</b> {{ user.bio }}</span>
        </div>
      </div>
      <div class="new-destinations">
        <form onsubmit="return false">
          <label for="first-name">First Name</label>
          <input id="first-name"
            type="text"
            placeholder="Enter first name"
            v-model="user.first_name"/>
          <label for="second-name">Second Name</label>
          <input id="second-name"
            type="text"
            placeholder="Enter second name"
            v-model="user.second_name"/>
          <label for="email">Email</label>
          <input id="email"
            type="email"
            placeholder="Enter email"
            v-model="user.email"/>
          <label for="password">Password</label>
          <input id="password"
            type="password"
            placeholder="Enter password"/>
          <label for="confirm-password">Confirm Password</label>
          <input id="confirm-password"
            type="password"
            placeholder="Confirm password" />
          <label for="phone">Phone Number</label>
          <input id="phone"
            type="number"
            placeholder="Enter phone Number"
            v-model="user.phone"/>
          <label for="image">Image</label>
          <input id="image"
            type="file"/>
          <label for="bio">Bio</label> 
          <textarea id="bio"
            placeholder="Enter bio"
            v-model="user.bio"></textarea>
          <div class="controls">
            <button class="warn"
              v-on:click="deleteAccount">
              Delete Account
            </button>
            <button v-on:click="update">Update</button>
          </div>
        </form>
      </div>
    </main>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/account.js"></script>

</body>
</html>