<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/admin-nav %>
    <% include ../partials/nav %>

    <main>
      <div class="new-destinations">
        <form action="">
          <label for="id">ID</label>
          <input id="id" type="number" placeholder="Enter id" />
          <label for="country">Country</label>
          <input id="country" type="text" placeholder="Enter country" />
          <label for="city">City</label>
          <input id="city" type="text" placeholder="Enter city" />
          <div class="controls">
            <button>Cancel</button>
            <button>Submit</button>
          </div>
        </form>
      </div>
      <div class="table destinations">
        <table>
          <caption>Destinations</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Country</th>
              <th>City</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ukraine</td>
              <td>Kiev</td>
              <td><button id="edit">Edit</button></td>
              <td><button id="remove">Remove</button></td>
            </tr>
            <tr>
              <td>1</td>
              <td>Ukraine</td>
              <td>Kiev</td>
              <td><button id="edit">Edit</button></td>
              <td><button id="remove">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

  </div>
  <% include ../partials/footer %>

</body>
</html>