<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/flights.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/nav %>

    <main id="flights">
      <div class="filters">
        <form onsubmit="return false">
          <div class="row">
            <label for="from-country">From</label>
            <select id="from-country">
              <option
                v-for="country in countries"
                v-bind:value="country.from"
                v-model="fromCountry">
                {{ country.from }}
              </option>
            </select>
            <label for="to-country">To</label>
            <select id="to-country">
              <option v-for="country in countries"
                v-bind:value="country.to"
                v-model="toCountry">
                {{ country.to }}
              </option>
            </select>
            <label for="from-city">From</label>
            <select id="from-city">
              <option v-for="city in cities"
                v-bind:value="city.from"
                v-model="fromCity">
                {{ city.from }}
              </option>
            </select>
            <label for="to-city">To</label>
            <select id="to-city">
              <option v-for="city in cities"
                v-bind:value="city.to"
                v-model="toCity">
                {{ city.to }}
              </option>
            </select>
          </div>
          <div class="row">
            <label for="departures">Departues</label> 
            <input id="departures"
              type="date"
              v-model="departures"/>
            <label for="form-price">price </label>
            <input id="from-price"
              type="number"
              v-model="minPrice"/>
            <label for="to-price">to</label>
            <input id="to-price"
              type="number"
              v-model="maxPrice"/>
          </div>
          <button v-on:click="filter">Filter</button>
        </form>
      </div>

      <div class="flights">
        <div class="card"
          v-on:click="open(flight.id)"
          v-for="flight in flights">
          <div class="info">
            <div class="image">
              <img v-bind:src="flight.image" alt="No image" />
            </div>
            <table class="details">
              <tr>
                <td>Name</td>
                <td id="name">{{ flight.name }}</td>
              </tr>
              <tr>
                <td>From</td>
                <td id="from">{{ flight.from }}</td>
              </tr>
              <tr>
                <td>To</td>
                <td id="to">{{ flight.to }}</td> 
              </tr>
              <tr>
                <td>Expiration Date</td>
                <td id="expiration-date">{{ flight.expiration_date }}</td>
              </tr>
              <tr>
                <td>Departure Date</td>
                <td id="departure-date">{{ flight.departure }}</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td id="duration">{{ flight.duration }} hours</td>
              </tr>
              <tr>
                <td>Price</td>
                <td id="price">{{ flight.price }}USD</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <h1>Description</h1>
            {{ flight.description }}
          </div>
        </div>
      </div>
    </main>
    

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/flights.js"></script>

</body>
</html>