<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/flights.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/sidebar %>
    <% include ../partials/nav %>

    <main id="flights">
      <div class="flights">
        <div class="card"
          v-on:click="open(flight.id)"
          v-for="flight in flights">
          <div class="info">
            <div class="image">
              <img v-bind:src="flight.image" alt="No image" />
            </div>
            <table class="details">
              <tr>
                <td>Name</td>
                <td id="name">{{ flight.name }}</td>
              </tr>
              <tr>
                <td>From</td>
                <td id="from">{{ flight.from }}</td>
              </tr>
              <tr>
                <td>To</td>
                <td id="to">{{ flight.to }}</td> 
              </tr>
              <tr>
                <td>Expiration Date</td>
                <td id="expiration-date">{{ flight.expiration_date }}</td>
              </tr>
              <tr>
                <td>Departure Date</td>
                <td id="departure-date">{{ flight.departure }}</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td id="duration">{{ flight.duration }} hours</td>
              </tr>
              <tr>
                <td>Price</td>
                <td id="price">{{ flight.price }}USD</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <h1>Description</h1>
            {{ flight.description }}
          </div>
        </div>
      </div>
    </main>
    

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/flights.js"></script>

</body>
</html>