<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/flights.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/nav %>

    <main id="flights">
      <div class="filters">
        <form onsubmit="return false">
          <div>
            <label for="from-country">From</label>
            <select id="from-country">
              <option value="ukraine">Ukraine</option>
              <option value="germany">Germany</option>
            </select>
          </div>
          <div>
            <label for="to-country">To</label>
            <select id="to-country">
              <option value="ukraine">Ukraine</option>
              <option value="germany">Germany</option>
            </select>
          </div>
          <div>
            <label for="from-city">From</label>
            <select id="from-city">
              <option value="ukraine">Ukraine</option>
              <option value="germany">Germany</option>
            </select>
          </div>
          <div>
            <label for="to-city">To</label>
            <select id="to-city">
              <option value="ukraine">Ukraine</option>
              <option value="germany">Germany</option>
            </select>
          </div>
          <div>
            <label for="departures">Departues</label> 
            <input id="departues" type="date" />
          </div>
          <div>
            <label>from</label>
            <input type="number" />
          </div>
          <div>
            <label>to</label>
            <input type="number" />
          </div>
          <button v-on:click="filter">Filter</button>
        </form>
      </div>

      <div class="flights">
        <div class="card"
          v-on:click="open(flight.id)"
          v-for="flight in flights">
          <div class="info">
            <div class="image">
              <img v-bind:src="flight.image" alt="No image" />
            </div>
            <table class="details">
              <tr>
                <td>Name</td>
                <td id="name">{{ flight.name }}</td>
              </tr>
              <tr>
                <td>From</td>
                <td id="from">{{ flight.from }}</td>
              </tr>
              <tr>
                <td>To</td>
                <td id="to">{{ flight.to }}</td> 
              </tr>
              <tr>
                <td>Expiration Date</td>
                <td id="expiration-date">{{ flight.expiration_date }}</td>
              </tr>
              <tr>
                <td>Departure Date</td>
                <td id="departure-date">{{ flight.departure }}</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td id="duration">{{ flight.duration }} hours</td>
              </tr>
              <tr>
                <td>Price</td>
                <td id="price">{{ flight.price }}USD</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <h1>Description</h1>
            {{ flight.description }}
          </div>
        </div>
      </div>
    </main>
    

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/flights.js"></script>

</body>
</html>