<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/flights.css" />
  <style>
    .controls form {
      display: flex;
      flex-direction: row;
    }

    label, select, span, button {
      margin-right: 8px;
    }
  </style>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/sidebar %>
    <% include ../partials/nav %>

    <main>
      <div class="flights">
        <div class="card">
          <div class="info">
            <div class="image">
              <img src="http://luminous-landscape.com/wp-content/uploads/2015/08/LuLa_Tibet-21.jpg" alt="No image" />
            </div>
            <table class="details">
              <tr>
                <td>Name</td>
                <td id="name">Tibet</td>
              </tr>
              <tr>
                <td>From</td>
                <td id="from">Ukraine/Kiev</td>
              </tr>
              <tr>
                <td>To</td>
                <td id="to">China/Tibet</td> 
              </tr>
              <tr>
                <td>Expiration Date</td>
                <td id="expiration-date">2016/12/01</td>
              </tr>
              <tr>
                <td>Departure Date</td>
                <td id="departure-date">2016/12/01</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td id="duration">10 hours</td>
              </tr>
              <tr>
                <td>Price</td>
                <td class="price">200USD</td>
              </tr>
            </table>
          </div>
          <div class="description">
            <h1>Description</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, id reprehenderit at error aut, est, ipsa similique in dolorem laboriosam fugiat accusantium enim minus odit a impedit officia suscipit. Maxime labore possimus inventore quasi porro eaque officiis, voluptatibus ipsam aut. Voluptate ratione natus consequatur obcaecati voluptates fuga sit maxime necessitatibus pariatur, tenetur, vitae veniam odio id iusto nostrum quam nihil blanditiis neque incidunt eum, beatae repellendus consequuntur perferendis. Incidunt quibusdam fugiat dolorum aliquam repellendus dolorem hic amet, facilis soluta ad. Excepturi repellendus cum dicta. Quibusdam beatae mollitia esse dolorem modi, dicta, voluptatibus pariatur perferendis vero delectus eveniet necessitatibus. Repellat, veritatis.
          </div>
          
          <div class="controls">
            <form action="">
              <label for="payment">Choose Payment System</label>
              <select id="payment">
                <option value="paypal">Paypal</option>
                <option value="stripe">Stripe</option>
                <option value="bank">Local Bank</option>
              </select>
              <span class="price">200USD</span>
              <button id="apply">Apply</button>
            </form>
          </div>

        </div>
      </div>
    </main>
    

  </div>
  <% include ../partials/footer %>

</body>
</html>