<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/sidebar %>
    <% include ../partials/nav %>

    <main>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ex voluptatem, quas obcaecati eveniet molestiae laborum, eius incidunt atque cumque sapiente placeat, minima harum. Voluptatem vero, esse optio quo, aliquid temporibus, dolorum veniam, assumenda eveniet labore recusandae nobis illo laborum ipsam reprehenderit sequi culpa tempora id nostrum numquam consequatur eum.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error dicta quidem pariatur impedit quod aperiam repudiandae quisquam odit. Non suscipit, impedit vero minima alias error neque iste exercitationem accusamus amet molestiae. Fugiat molestiae ipsa doloribus quos totam at a voluptate unde velit? Similique porro alias provident deserunt commodi, laborum nisi.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus error, enim sit ad velit placeat, in? Rem eaque, natus explicabo optio incidunt, ducimus sit, soluta, quasi sapiente sunt nemo amet? Rerum dignissimos tempora similique dolorem ea nam quidem sunt! Possimus dolores officia porro ratione. Aliquid recusandae voluptates, aperiam ad impedit.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex perspiciatis, provident molestias, dicta officiis repudiandae eligendi officia illum dolore autem inventore porro? Blanditiis ad similique, maiores totam vel aperiam, quibusdam officia, nostrum non illum unde, quam placeat incidunt. Vel dolorum hic tempora officia deleniti voluptates repellendus reiciendis, beatae incidunt.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex perspiciatis, provident molestias, dicta officiis repudiandae eligendi officia illum dolore autem inventore porro? Blanditiis ad similique, maiores totam vel aperiam, quibusdam officia, nostrum non illum unde, quam placeat incidunt. Vel dolorum hic tempora officia deleniti voluptates repellendus reiciendis, beatae incidunt.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex perspiciatis, provident molestias, dicta officiis repudiandae eligendi officia illum dolore autem inventore porro? Blanditiis ad similique, maiores totam vel aperiam, quibusdam officia, nostrum non illum unde, quam placeat incidunt. Vel dolorum hic tempora officia deleniti voluptates repellendus reiciendis, beatae incidunt.</p>
      </article>
      <article>
        <h1>Lorem ipsum.
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ex perspiciatis, provident molestias, dicta officiis repudiandae eligendi officia illum dolore autem inventore porro? Blanditiis ad similique, maiores totam vel aperiam, quibusdam officia, nostrum non illum unde, quam placeat incidunt. Vel dolorum hic tempora officia deleniti voluptates repellendus reiciendis, beatae incidunt.</p>
      </article>
    </main>
    

  </div>
  <% include ../partials/footer %>

</body>
</html>