<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/index.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/nav %>

    <main>
      <div id="slogan">
        <h1>Flights with no Limits</h1>

        <button>
          <a href="/login">GET STARTED</a>
        </button>

      </div>
    </main>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

</body>
</html>