<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="stylesheets/auth.css" />
<body>
  
  <% include ../partials/header %>

  <div class="container">

    <% include ../partials/nav %>

    <main id="signup">
      <form class="card" onsubmit="return false">
        <h1>Sign Up</h1>
        <label for="email">Email*</label>
        <input id="email"
          type="email"
          required="true"
          placeholder="Enter your email"
          v-model="user.email"/>
        <label for="first-name">First Name*</label>
        <input id="first-name"
          type="text"
          required="true"
          placeholder="Enter your first name"
          v-model="user.first_name"/>
        <label for="second-name">Second Name</label>
        <input id="second-name"
          type="text"
          required="true" 
          placeholder="Enter your second name"
          v-model="user.second_name"/>
        <label for="phone">Phone</label>
        <input id="phone"
          type="number"
          placeholder="Enter your phone number"
          v-model="user.phone"/>
        <label for="password">Password*</label>
        <input id="password"
          type="password"
          required="true"
          placeholder="Enter password"
          v-model="user.password"/>
        <label for="confirm-password">Confirm Password*</label>
        <input id="password"
          type="password"
          required="true"
          placeholder="Confirm your password"
          v-model="confirmed_password"/>
        <div class="error" v-if="error != null">
          {{error.body.error}}
        </div>
        <div class="controls">
          <button v-on:click="reset">Reset</button>
          <button v-on:click="submit">Submit</button>
        </div>
      </form>
    </main>

  </div>
  <% include ../partials/footer %>
  <% include ../partials/scripts %>

  <script src="javascripts/signup.js"></script>

</body>
</html>