.row {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, select {
  margin-right: 8px;
}

label {
  margin-right: 4px;
  width: auto;
}

input[type="number"] {
  width: 52px;
}

.flights .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.flights .card .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flights .card .info .image img {
  max-width: 240px;
  max-height: 240px;
  border-radius: 3px;
  margin-right: 10px;
}

.flights table {
  width: auto;
}

.flights table tr td {
  text-align: left;
  padding: 0 8px;
}

.flights .description {
  width: 100%;
  margin-top: 10px;
  text-align: justify;
  max-height: 400px;
  overflow-y: auto;
}

.flights .description h1 {
  font-size: 1.5rem;
}

#name {
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
  color: orange;
  font-size: 1.2rem;
  font-weight: bold;
}

.filters form {
  background-color: #DDD;
  border-radius: 3px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#price {
  display: flex;
  flex-direction: row;
}

#departures {
  max-width: 240px;
}